// --------------------------------------------------------------------------
// BUTTON BASE
// --------------------------------------------------------------------------
//
// The .button class can be used to style markup to look like a button.
//

/**
 * DEPENDENCIES
 * - none
 */

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

@mixin buttonIcon() {
  &:before {
    display: inline-block;
    vertical-align: 0;
    margin-right: 4px;
    font-size: 140%;

    color: $Colour-accent;
  }
}

@mixin button() {
  @include input();
  font-family: $FontFamily-copy;
  height: auto;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  white-space: nowrap;

  cursor: pointer;

  position: relative;
  box-shadow: none;
  z-index: 9;

  color: $Colour-accent;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translate3d(0, 0, 0);
    box-shadow: 6px 6px 0 $Colour-dropShadow;
    z-index: -1;
    transition: transform 0.2s;
  }

  &:hover,
  &:focus {
    transform: translate3d(1px, 1px, 0);
    transition: transform 0.2s;

    &:after {
      box-shadow: 5px 5px 0 $Colour-dropShadow;
      // transition: box-shadow 0.2s;
    }
  }

  &:focus {
    transform: translate3d(2px, 2px, 0);
    transition: transform 0.2s;

    &:after {
      box-shadow: 4px 4px 0 $Colour-dropShadow;
      // transition: all 0.2s;
    }
  }

  &.is-processing,
  &.is-disabled {
    &:hover,
    &:focus {
      transform: translate3d(0, 0, 0);

      &:after {
        box-shadow: 8px 8px 0 $Colour-dropShadow;
      }
    }
  }

  &.is-processing {
    cursor: progress;

    opacity: 0.5;
  }

  &.is-disabled {
    cursor: not-allowed;

    opacity: 0.5;
  }

  @include media('>=tab') {
    @include type(9px, 1.4);
    padding-left: $BSU * 4;
    padding-right: $BSU * 4;
  }

  &.icon {
    @include buttonIcon();
  }
}

@mixin button-primary() {
  background-color: $Colour-accent;
  border-color: $Colour-border;
  color: $Colour-white;
  transition: background-color 0.3s;

  &:hover,
  &:focus {
    // background-color: $Colour-pri--darken;
    color: $Colour-white;
    transition: background-color 0.3s;
  }

  &.icon {
    &:before {
      color: $Colour-white;
    }
  }
}

@mixin button-secondary() {
  background-color: rgba($Colour-pri, 0.18);
  border-color: transparent;
  color: $Colour-pri;
  transition: background-color 0.3s, color 0.2s;

  &:hover,
  &:focus {
    background-color: $Colour-pri--darken;
    color: $Colour-white;
    transition: background-color 0.3s, color 0.2s;
  }
}

@mixin button-ghost() {
  border: none;
  background-color: unset;

  &:after {
    content: unset;
  }

  &:hover,
  &:focus {
    color: $Colour-accent--darken;
    transform: translate3d(0, 0, 0);
    transition: color 0.2s;
  }
}

@mixin button-s() {
  @include input-small();
  @include type($FontSize-c4 - 1px);
  height: auto;

  @include media('>=tab') {
    @include type($FontSize-c4);
    padding-left: $BSU * 3;
    padding-right: $BSU * 3;
  }
}

@mixin button-xs() {
  // @include input-small();
  @include type($FontSize-c5 - 1px);
  height: auto;

  @include media('>=tab') {
    @include type($FontSize-c5);
    padding: (10px) (14px) (8px);
  }
}

@mixin reset-button() {
  padding: 0;
  border: none;
  background-color: unset;

  &:after {
    content: unset;
  }

  &:hover,
  &:focus {
    transform: translate3d(0, 0, 0);
  }
}

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.button {
  @include button();
}

.button--s {
  @include button-s();
}

.button--xs {
  @include button-xs();

  &.icon {
    &:before {
      margin-right: 0;
    }
  }
}

.button--l {
  @include type($FontSize-c3 - 1px);
  // @include type($FontSize-c3 - 3px, 1.5);
  padding: 14px ($BSU * 4);

  @include media('>=tab') {
    @include type($FontSize-c4 + 2px);
  }
}

.button--cat {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 0;
  height: auto;

  cursor: pointer;
  color: $Colour-base;
  transition: color 0.2s;

  &:after {
    content: unset;
  }

  &:hover,
  &:focus,
  &.is-active {
    transform: translate3d(0, 0, 0);
    color: $Colour-accent;
    transition: color 0.2s;

    .imageSq {
      outline: 3px solid $Colour-accent;
      transition: outline 0.1s;
    }
  }
}

.confirm-button {
  color: white;
  background-color: #15a8d4;
  border: 3px solid #291c38 !important;
  border-radius: 0 !important;
}

.cancel-button {
  background-color: #15a8d4;
  border: 3px solid #291c38 !important;
  border-radius: 0 !important;
}

.vm-input {
  display: flex;
  flex-direction: row;
  box-shadow: 3px 3px 0 $Colour-dropShadow;
}

.before-mint-button {
  font-family: 'setbackt', 'Press Start 2P', monospace;
  font-weight: normal;
  text-shadow: 3px 3px 0px #444;
}

.wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.mint-buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3em;
  align-items: center;
}

.dark-button {
  font-family: $FontFamily-copy;
  background-color: #15a8d4;
  color: white;
  height: auto;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  margin: 0 1em;
  box-shadow: 6px 6px 0 $Colour-dropShadow;
}

.button--pri {
  @include button-primary();
}

.button--ghost {
  @include button-ghost();
}

.button--secSmall {
  @include input-small();
  @include button-secondary();
}

.button--action {
  &:before {
    @include icon-font();
    float: right;

    display: block;
    margin-top: -2px;
    margin-left: 4px;
    font-size: 160%;

    color: $Colour-accent;
  }

  &.button--pri:before {
    color: $Colour-white;
  }
}

.button--text {
  @include reset-button();

  @include type($FontSize-c5);
  color: $Colour-base;
  transition: color 0.2s;

  &:hover {
    color: $Colour-accent;
    transition: color 0.2s;
  }
}

.buttonStack {
  > .button,
  > button {
    display: block;
    width: 100%;

    + .button,
    + button {
      margin-top: $BSU * 1.5;
    }
  }
}
