// --------------------------------------------------------------------------
// INPUT BASE
// --------------------------------------------------------------------------
//
// The .input class can be used to style markup to look like a button/form input.
//

/**
 * DEPENDENCIES
 * - none
 */

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------
$input-paddingVertical: $BSU * 2 !default;
$input-paddingVertical--small: $BSU * 2 !default;
$input-paddingHorizontal: 14px !default;
$input-paddingHorizontal--small: $BSU * 2.5 !default;

$c-input-fontSize: $FontSize-c2 !default;
$c-input-fontSize--small: $FontSize-c3 !default;

$c-input-lineHeight: ($c-input-fontSize / ($c-input-fontSize * 0 + 1)) / 16 !default;
$c-input-lineHeight--small: (
    $c-input-fontSize--small / ($c-input-fontSize--small * 0 + 1)
  ) / 12 !default;

$c-input-borderRadius: 0 !default;
$input-border: 3px solid $Colour-border !default;

$input-align: top !default;
$input-outline: none !default;

$input-backgroundColour: $Colour-white !default;

$inputMulti-multiplier: 4 !default;

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

@mixin input($padding-horizonal: $input-paddingHorizontal) {
  height: round($c-input-lineHeight * $c-input-fontSize) +
    ($input-paddingVertical * 2) + 10px;
  padding: ($input-paddingVertical) $padding-horizonal $input-paddingVertical;
  @include type($FontSize-c2 - 3px, 1.5);
  font-family: $FontFamily-mono;

  outline: $input-outline;
  vertical-align: $input-align;
  box-sizing: border-box;

  background-color: $input-backgroundColour;
  border: $input-border;
  border-radius: $c-input-borderRadius;
  box-shadow: 5px 5px 0 $Colour-dropShadow;

  @include media('>=tab') {
    @include type($FontSize-c2);
  }
}

@mixin input-small() {
  // height: round($c-input-lineHeight--small * $c-input-fontSize--small) +
  //   ($input-paddingVertical--small * 2);
  padding: ($input-paddingVertical--small - 2px) $input-paddingHorizontal--small;
  @include font-size($c-input-fontSize--small - 1px);
  // line-height: $c-input-lineHeight--small;

  @include media('>tab') {
    padding: $input-paddingVertical--small $input-paddingHorizontal--small;
    @include font-size($c-input-fontSize--small);
  }
}

@mixin input-multiline() {
  height: round(
      ($c-input-lineHeight * $c-input-fontSize) * $inputMulti-multiplier
    ) + ($input-paddingVertical * 4.75);
}

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------
// .input {
//   @include input();
// }
//
// .input--small {
// 	@include input-small();
// }
//
//
// .input--multiline {
//   @include input-multiline();
// }
