// --------------------------------------------------------------------------
// PAINT BASE
// --------------------------------------------------------------------------
//
// Adds a background colour
//

/**
 * DEPENDENCIES
 * - none
 */

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.paint {
  background-color: $Colour-baseType;
  color: $Colour-baseType--contrast;
}

.paintDark {
  background-color: $Colour-base;
}
