// --------------------------------------------------------------------------
// TYPE HEADING BASE
// --------------------------------------------------------------------------
//
// Typography base classes which can be used and extended to bring reusable type styling.
// typeHeading styles that is used to add constant styling to typeHeadings.
//

/**
 * DEPENDENCIES
 * - none
 */

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

//
// Large regular style font styling
//

.typeDisplay,
.display {
  @include type($FontSize-d1 - 12px, $LineHeight-d1);
  font-family: $FontFamily-heading;
  text-shadow: 3px 3px 0 #444;

  @include media('>=tab') {
    @include type($FontSize-d1);
  }
}

.display-2 {
  @include type($FontSize-d2 - 12px, $LineHeight-d2);
  font-family: $FontFamily-heading;
  text-shadow: 3px 3px 0 #444;

  @include media('>=tab') {
    @include type($FontSize-d2);
  }
}

//
// Heading text styling
//

.h1 {
  @include type($FontSize-h1, $LineHeight-h1, $FontWeight-bold);
  font-family: $FontFamily-copy;
  color: $Colour-sec;
}

.h2 {
  @include type($FontSize-h2 - 2px, $LineHeight-h2, $FontWeight-bold);
  font-family: $FontFamily-copy;
  color: $Colour-sec;

  @include media('>=tab') {
    @include type($FontSize-h2);
  }
}

.h3 {
  @include type($FontSize-h3 - 2px, $LineHeight-h3, $FontWeight-bold);
  font-family: $FontFamily-copy;
  color: $Colour-sec;

  @include media('>=tab') {
    @include type($FontSize-h3);
  }
}

.h4 {
  @include type($FontSize-h4, $LineHeight-h4, $FontWeight-bold);
  font-family: $FontFamily-copy;
  color: $Colour-sec;
}

.h5 {
  @include type($FontSize-h5, $LineHeight-h5, $FontWeight-bold);
  color: $Colour-sec;
}

//
// Copy text styling
//

.typeCopy,
.copy {
  @include type($FontSize-c2);
}

.typeCopy-l,
.copy-l {
  @include type($FontSize-c1 - 1px);

  @include media('>=tab') {
    @include type($FontSize-c1);
  }
}

.typeCopy-xl,
.copy-xl {
  @include type(14px);

  @include media('>=tab') {
    @include type(16px);
  }
}

.typeCopy-s,
.copy-s {
  @include type($FontSize-c3, 1.5);
}

.copy-xs {
  @include type($FontSize-c4);
}

.copy-xxs {
  @include type($FontSize-c5);
}

//
// Type link
//

.typeLink {
  @include reset-button();
}

.typeLink-s {
  @include reset-button();
  @include type($FontSize-c4);
}

.typeLink-m {
  @include reset-button();
  @include type($FontSize-c2);
}

.typeLink-icon {
  display: flex;

  &:before {
    @include icon-font();
    margin-right: halve($BSU);
  }

  &.icon-write {
    &:before {
      font-size: 150%;
    }
  }

  &:hover {
    color: $Colour-white;
  }
}

.typeLink-action {
  &:after {
    @include icon-font;
    content: $icon-forward;
    display: inline-block;
    vertical-align: -2px;
    margin-left: 3px;
  }
}

.typeLink-alt {
  &:hover {
    color: $Colour-accent;
    text-decoration: underline;
  }
}

//
// Text colour alternatives
//

.type--base {
  color: $Colour-baseType;
}

.type--text {
  color: $Colour-text;
}

.type--baseContrast {
  color: $Colour-baseType--contrast;
}

.type--primary {
  color: $Colour-pri;
}

.type--accent {
  color: $Colour-accent;
}

.type--ter {
  color: $Colour-ter;
}

//
// Tooltip
//

.typeTip {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;

  background-color: $Colour-accent;
  color: $Colour-white;
}
