<template lang="html">
  <section>
    <div class="Page-section">
      <div class="Grid">
        <div class="Grid-row s-2/3--lap">
          <h1 class="display center">Can Designer</h1>

          <div class="Island mt-6">
            <div class="copy-l">
              Pick which MoonCat you would like to use to create a MoonCatPop
              vending machine
            </div>

            <div v-if="!cats.length" class="copy-s mt++">
              You do not have any acclimated MoonCats in your wallet.
            </div>

            <div class="mt+">
              <div class="Grid Grid--slim Grid--center">
                <div
                  v-for="rescueIndex in cats"
                  :key="rescueIndex"
                  class="Grid-column is-action s-1/4 s-1/5--tab s-1/6--lap"
                  v-if="typeof minted[rescueIndex] === 'undefined'"
                >
                  <div
                    :class="[
                      { 'is-active': rescueIndex === catContext },
                      'button--cat',
                    ]"
                    @click.stop="selectCat(rescueIndex)"
                  >
                    <div class="imageSq">
                      <img
                        :src="`https://api.mooncat.community/image/${rescueIndex}.png`"
                        alt="`#${rescueIndex}`"
                      />
                    </div>
                    <div class="copy-s mt">#{{ rescueIndex }}</div>
                  </div>
                </div>

                <div class="Grid-column">
                  <button
                    type="button"
                    :class="[
                      'button--pri',
                      { 'is-disabled': catContext === null },
                    ]"
                    @click="progress"
                  >
                    Start Designing
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="Page-section" v-if="tickets.length">
      <div class="Grid">
        <div class="Grid-row center">
          <h2 class="display-2">Existing Tickets</h2>
          <!-- <h3 class="mt+">{{ address }}</h3> -->
        </div>

        <div class="Grid-row s-2/3--lap">
          <div class="Island">
            <p class="copy-l">
              Please find a list of all can designs for your previewing pleasure
            </p>

            <div class="s-2/3--tab middle mt++">
              <div
                v-for="ticket in activeTickets"
                :key="ticket.ticketId"
                class="mt+"
              >
                <div class="flex-center">
                  <div class="Media-image imageCatSq">
                    <img
                      :src="`https://api.mooncat.community/image/${ticket.metadata.rescueOrder}.png`"
                      :alt="`#${ticket.metadata.rescueOrder}`"
                    />
                  </div>

                  <div class="Media-bodyMiddle">
                    <button
                      class="button button--s"
                      @click.stop="showPreview(ticket)"
                    >
                      Preview
                    </button>
                  </div>

                  <div class="Media-body left">
                    <div class="copy type--base">
                      {{ ticket.metadata.flavor }}
                      |
                      <nobr>Ticket {{ ticket.ticketId }}</nobr>
                    </div>
                    <div class="copy-s type--text">
                      #{{ ticket.metadata.rescueOrder }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <mcp-modal :active="modal.state" @close-modal="closeModal">
      <div class="center">
        <div id="mcp3dPreview" class="Builder-preview">
          <div class="Builder-previewLoader"></div>
        </div>

        <button type="button" class="button--s mt++" @click.stop="closeModal">
          Close
        </button>
      </div>
    </mcp-modal>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import ownedMixin from '~/mixins/owned'
import Previewer from '~/lib/previewer'

import Modal from '~/components/elements/modal'

const preview = new Previewer()

export default {
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    tickets: {
      type: Array,
      default: () => [],
    },
    minted: {
      type: Object,
      default: () => {},
    },
  },

  mixins: [ownedMixin],

  components: {
    'mcp-modal': Modal,
  },

  data() {
    return {
      modal: {
        state: false,
      },
    }
  },

  computed: {
    ...mapGetters({
      address: 'identity/fullAddress',
      catContext: 'identity/catContext',
    }),
    activeTickets() {
      return Object.values(this.tickets).sort((a, b) => a.ticketId - b.ticketId)
    },
  },

  methods: {
    selectCat(id) {
      this.$store.dispatch('identity/setCatContext', { id })
    },
    progress() {
      if (this.catContext !== null) this.$emit('show-designer', true)
    },
    showPreview(ticket) {
      this.modal.state = true

      setTimeout(() => {
        let el = document.getElementById('mcp3dPreview')
        preview.init(el)
        preview.animate()
        this.fetchPreview(ticket.metadata)
      }, 1000)
    },
    closeModal() {
      this.modal.state = false
      preview.destroy()
    },
    async fetchPreview(metadata) {
      let accessories = [
        ...metadata.accessories.map((acc) => [
          acc.id,
          acc.paletteIndex,
          acc.zIndex,
        ]),
      ]

      let data = {
        id: metadata.rescueOrder,
        accessories: accessories,
        color: metadata.color,
        textcolor: metadata.textcolor,
        textshadow: metadata.textshadow,
        scale: metadata.scale,
        flavor: metadata.flavor,
        gradient: metadata.gradient,
        pattern: metadata.pattern,
        tab: this.getTabColor(metadata.rescueOrder),
      }

      preview.fetch(data)
    },

    getTabColor(rescueOrder) {
      try {
        let catId = this.$root.context.$mooncat.lib.getCatId(rescueOrder)
        let fullPalette = this.$root.context.$mooncat.lib.fullPalette(catId)
        let coat = fullPalette.filter((color) => color.id === 116)
        return coat[0].rgba
      } catch (err) {
        return [0, 0, 0]
      }
    },
  },
}
</script>
