<template lang="html">
  <section>
    <div class="Page-section">
      <div class="Grid">
        <div class="Grid-row s-4/5--lap">
          <div class="Page-head">
            <button
              @click.stop.prevent="cancel"
              type="button"
              class="button--ghost button--back"
            >
              < Cancel
            </button>
            <h1 class="display center">Can Designer</h1>
          </div>

          <div class="Builder mt-6">
            <div id="mcp3dPreview" class="Builder-preview">
              <div class="Builder-previewLoader"></div>
            </div>

            <aside class="Builder-aside">
              <div class="Builder-asideCat">
                <div class="is-active button--cat">
                  <div class="imageSq">
                    <img
                      :src="`https://api.mooncat.community/glow-image/${catContext}.png`"
                      alt="`#${catContext}`"
                    />
                  </div>
                  <div class="copy-s mt">#{{ catContext }}</div>
                </div>
              </div>

              <form @submit.prevent="submitForm" v-vdForm>
                <div class="Builder-asideBody">
                  <h3 class="mb-3">CONFIG</h3>

                  <!-- Name field -->
                  <div
                    :class="[
                      'Form-field',
                      { 'has-error': vd.name.errorMessage },
                    ]"
                  >
                    <label for="" class="Form-label">Can Flavour/Name</label>

                    <div class="Form-labelSub">
                      Please ensure Family Friendly naming
                    </div>
                    <div class="Form-labelError" v-show="vd.name.errorMessage">
                      {{ vd.name.errorMessage }}
                    </div>

                    <div class="Form-inputWrap">
                      <input
                        type="text"
                        name="name"
                        v-vdInput
                        v-model="vd.name.model"
                        class="Form-input"
                        required="true"
                      />

                      <button
                        type="button"
                        :class="[
                          'Form-inputAction',
                          { 'is-spinner': generatingName },
                        ]"
                        @click="generateName"
                      >
                        <icon-cycle />
                      </button>
                    </div>
                  </div>
                  <!-- .end Name field -->

                  <!-- Background field -->
                  <div class="Form-field rel">
                    <label for="" class="Form-label">Background</label>

                    <div class="Form-inputDrop">
                      <div
                        class="Form-inputSwatch"
                        :style="
                          'background-color: rgba(' +
                          form.data.color.background.value +
                          ')'
                        "
                      ></div>

                      <input
                        type="text"
                        name=""
                        v-model="backgroundLabel"
                        class="Form-input"
                        readonly=""
                        required="true"
                        @click.stop="togglePalette('background')"
                      />
                    </div>

                    <mcp-palette
                      :state="paletteModal.background"
                      :textureState="true"
                      :texturePreview="true"
                      paletteType="background"
                      :initId="form.data.color.background.id"
                      @color-change="colorChange"
                      @toggle-state="closePalette"
                      @texture-change="textureChange"
                    />
                  </div>
                  <!-- .end Background field -->

                  <!-- Text Colour field -->
                  <div class="Form-field rel">
                    <label for="" class="Form-label">Text Color</label>

                    <div class="Form-inputDrop">
                      <div
                        class="Form-inputSwatch"
                        :style="
                          'background-color: rgba(' +
                          form.data.color.text.value +
                          ')'
                        "
                      ></div>

                      <input
                        type="text"
                        name=""
                        v-model="form.data.color.text.label"
                        class="Form-input Form-input--trigger"
                        readonly=""
                        required="true"
                        @click.stop="togglePalette('text')"
                      />
                    </div>

                    <mcp-palette
                      :state="paletteModal.text"
                      :shadowState="true"
                      paletteType="text"
                      :initId="form.data.color.text.id"
                      @color-change="colorChange"
                      @toggle-state="closePalette"
                      @texture-change="textureChange"
                    />
                  </div>
                  <!-- .end Text Colour field -->

                  <!-- Scale field -->
                  <div class="Form-field rel">
                    <label for="" class="Form-label">Scale</label>

                    <div class="Builder-pickerRow">
                      <div class="Builder-pickerGroup flex">
                        <div
                          v-for="scale in form.data.scale.opts"
                          :class="[
                            'Builder-pickerGroupBtn',
                            {
                              'is-active':
                                form.data.scale.selected === scale.value,
                            },
                          ]"
                          @click.stop="scaleChange(scale.value)"
                        >
                          {{ scale.label }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- .end Scale field -->
                </div>

                <!-- Accessory manager -->
                <acc-list
                  :accessories="ownedAccessories[catContext]"
                  @accessory-update="accessoryUpdate"
                />
                <!-- .end Accessory manager -->

                <div class="Builder-asideBody">
                  <!-- Discord field -->
                  <div
                    :class="[
                      'Form-field',
                      { 'has-error': vd.discord.errorMessage },
                    ]"
                  >
                    <label for="" class="Form-label">Discord handle</label>
                    <div
                      class="Form-labelError"
                      v-show="vd.discord.errorMessage"
                    >
                      {{ vd.discord.errorMessage }}
                    </div>
                    <input
                      type="text"
                      name="discord"
                      v-vdInput
                      v-model="vd.discord.model"
                      class="Form-input"
                      required="true"
                      placeholder="mooncat#0000"
                      pattern="^.{3,32}#[0-9]{4}$"
                    />
                  </div>
                  <!-- .end Discord field -->

                  <!-- Submit field -->
                  <div class="Form-field center">
                    <button
                      type="submit"
                      name=""
                      :class="['Form-submit mt', { 'is-disabled': !isOpen }]"
                    >
                      Submit to Raffle
                    </button>
                    <button
                      v-if="canResubmit"
                      type="submit"
                      name=""
                      :class="[
                        'Form-submit mt++',
                        { 'is-disabled': !canResubmit },
                      ]"
                    >
                      Send Design
                    </button>
                  </div>
                  <!-- .end Submit field -->
                </div>
              </form>
            </aside>
          </div>
        </div>
      </div>
    </div>

    <mcp-modal :active="modal.enter.state" @close-modal="resetModal">
      <div class="center" v-show="!submittingEntry">
        <img
          :src="require('~/assets/images/ticket.png')"
          alt="ticket"
          class="imageTicket middle"
        />

        <div class="mt-6">
          <p class="copy-l">You are about to mint a raffle ticket...</p>
          <p>
            This ticket will be your chance to mint a MoonCatPop Vending
            Machine. We will let you know if you are a winner after review
            begins on November 15 2021. More info in the
            <nuxt-link to="/help" target="_blank">FAQ</nuxt-link>.
          </p>
        </div>

        <button
          type="button"
          class="button--pri mt++"
          @click.stop="submitEntry"
        >
          Proceed
        </button>
      </div>

      <div
        class="center"
        v-show="submittingEntry && !modal.error && !modal.success"
      >
        <div class="imageProcessing middle"></div>
        <div class="copy-l mt+">Processing...</div>
      </div>

      <div
        class="center"
        v-show="submittingEntry && !modal.error && modal.success"
      >
        <img
          :src="require('~/assets/images/ticket.png')"
          alt="ticket"
          class="imageTicket middle"
        />

        <div class="mt-6">
          <p class="copy-l">{{ modal.successHeader }}</p>
          <p>{{ modal.successMessage }}</p>
        </div>

        <button type="button" class="button--s mt++" @click.stop="completed">
          Close
        </button>
      </div>

      <div class="Processing-body has-error" v-show="modal.error">
        <div class="Processing-bodyWrap has-error">
          <div class="center icon icon-scare icon--display"></div>
          <div class="Processing-title mt">Ooops</div>
          <p class="copy-s mt+">It seems that something has gone wrong...</p>
          <p v-if="modal.errorMessage">{{ modal.errorMessage }}</p>
          <div class="Processing-options buttonStack mt++">
            <button type="button" class="button--s" @click="resetModal">
              Close
            </button>
          </div>
        </div>
      </div>
    </mcp-modal>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import { functions, callable } from '@/services/firebase.js'

import ownedMixin from '~/mixins/owned'
import validate from '~/mixins/validate'

import IconCycle from '~/components/icons/cycle'
import List from '~/components/elements/acc-list'
import Palette from '~/components/elements/palette'
import Modal from '~/components/elements/modal'

import Previewer from '~/lib/previewer'
import mcbDeepSpace from '~/lib/deepspace'
import PopNameGenerator from '~/lib/name_gen'

const preview = new Previewer()
const dsn = new mcbDeepSpace()

const fbStoreTicket = callable(functions, 'storeTicket')

export default {
  props: {
    active: {
      type: Boolean,
      default: false,
    },
  },

  mixins: [ownedMixin, validate],

  components: {
    'icon-cycle': IconCycle,
    'acc-list': List,
    'mcp-palette': Palette,
    'mcp-modal': Modal,
  },

  data() {
    return {
      flavor: '',
      accessories: [],
      color: 0,
      textColor: 0,
      gradient: 0,
      pattern: 0,

      paletteModal: {
        background: false,
        text: false,
      },

      generatingName: false,

      form: {
        validations: ['name', 'discord'],

        data: {
          name: PopNameGenerator(),

          color: {
            background: {
              id: 115,
              label: 'MoonCat Pattern',
              value: '0,0,0',
            },

            text: {
              id: 120,
              label: 'MoonCat Complement 1',
              value: '0,0,0',
            },

            tab: {
              id: 116,
              label: 'MoonCat Coat',
              value: '0,0,0',
            },
          },

          texture: {
            gradientDirection: {
              label: '',
              value: 0,
            },
            gradientTone: {
              label: 'Light',
              value: 0,
            },
            pattern: {
              label: 'None',
              value: 0,
            },
            shadow: {
              label: 'Dark',
              value: 0,
            },
          },

          gradient: 0,

          accessories: [],

          scale: {
            selected: 0,
            opts: [
              {
                label: 'Small',
                value: 1,
              },
              {
                label: 'Default',
                value: 0,
              },
              {
                label: 'Large',
                value: 2,
              },
            ],
          },

          discord: '',
        },
      },

      modal: {
        enter: {
          state: false,
        },
        error: false,
        errorMessage: null,
        success: true,
        successHeader: "Success! You're in the draw",
        successMessage: 'We will let you know if you are a winner soon.',
      },

      submittingEntry: false,

      resubmissions: [
        '0x5F7670321668e6db551E39e7A5DFF443d42Dc97f',
      ],
    }
  },

  computed: {
    ...mapGetters({
      isOpen: 'identity/isOpen',
      address: 'identity/fullAddress',
      catContext: 'identity/catContext',
    }),
    backgroundLabel() {
      let label = this.form.data.color.background.label

      if (this.form.data.texture.gradientDirection.value !== 0) {
        label = this.form.data.texture.gradientTone.label
      }

      if (this.form.data.texture.gradientDirection.value !== 0) {
        label += ' Gradient ' + this.form.data.texture.gradientDirection.label
      }

      if (this.form.data.texture.pattern.value !== 0) {
        label += ', ' + this.form.data.texture.pattern.label
      }

      return label
    },
    canResubmit() {
      return (
        this.resubmissions
          .map((addr) => String(addr).toLowerCase())
          .includes(String(this.address).toLowerCase()) ||
        typeof window.popsubmit !== 'undefined'
      )
    },
  },

  mounted() {
    let el = document.getElementById('mcp3dPreview')
    preview.init(el)
    preview.animate()

    this.fetchPreview()
  },

  destroyed() {
    preview.destroy()
  },

  methods: {
    cancel() {
      this.$emit('show-designer', false)
      this.$store.dispatch('identity/setCatContext', { id: null })
      preview.destroy()
    },
    accessoryUpdate(payload) {
      this.form.data.accessories = payload
      this.fetchPreview()
    },
    togglePalette(target) {
      for (let t in this.paletteModal) {
        if (t !== target) this.paletteModal[t] = false
      }
      this.paletteModal[target] = !this.paletteModal[target]
    },

    closePalette(target) {
      this.paletteModal[target] = false
    },

    colorChange(color, type) {
      this.form.data.color[type].id = color.id
      this.form.data.color[type].label = color.title
      this.form.data.color[type].value = color.rgba
      this.fetchPreview()
    },

    textureChange(target, value, label) {
      this.form.data.texture[target].value = value
      this.form.data.texture[target].label = label

      if (this.form.data.texture.gradientDirection.value === 0)
        this.form.data.gradient = 0
      else if (this.form.data.texture.gradientDirection.value === 1) {
        // Top
        if (this.form.data.texture.gradientTone.value === 0)
          this.form.data.gradient = 3
        // Light
        else this.form.data.gradient = 1 // Dark
      } else {
        // Bottom
        if (this.form.data.texture.gradientTone.value === 0)
          this.form.data.gradient = 4
        // Light
        else this.form.data.gradient = 2 // Dark
      }

      this.fetchPreview()
    },

    scaleChange(scale) {
      this.form.data.scale.selected = scale

      this.fetchPreview()
    },

    async fetchPreview() {
      let data = {
        id: this.catContext,
        accessories: this.form.data.accessories,
        color: this.form.data.color.background.id,
        textcolor: this.form.data.color.text.id,
        textshadow: this.form.data.texture.shadow.value,
        scale: this.form.data.scale.selected,
        flavor: this.form.data.name,
        gradient: this.form.data.gradient,
        pattern: this.form.data.texture.pattern.value,
        tab: this.form.data.color.tab.value,
      }

      preview.fetch(data)
    },

    generateName() {
      this.generatingName = true

      setTimeout(() => {
        this.vd.name.model = PopNameGenerator()
        this.form.data.name = this.vd.name.model
        this.fetchPreview()
        this.generatingName = false
      }, 500)
    },

    submitForm() {
      if (!this.isOpen && !this.canResubmit) return

      this.vdTouch()

      if (this.vd.hasChanges && !this.vd.hasErrors) {
        // validation passed
        if (!this.isOpen && this.canResubmit) this.saveDesign()
        else this.modal.enter.state = true
      }
    },

    saveTicket() {
      let metadata = {
        rescueOrder: this.catContext,
        accessories: [],
        color: this.form.data.color.background.id,
        textcolor: this.form.data.color.text.id,
        textshadow: this.form.data.texture.shadow.value,
        scale: this.form.data.scale.selected,
        gradient: this.form.data.gradient,
        pattern: this.form.data.texture.pattern.value,
        flavor: this.form.data.name,
      }

      if (this.form.data.accessories.length) {
        for (let i in this.form.data.accessories) {
          metadata.accessories.push({
            id: this.form.data.accessories[i][0],
            paletteIndex: this.form.data.accessories[i][1],
            zIndex: this.form.data.accessories[i][2],
          })
        }
      }

      fbStoreTicket({
        discord: this.vd.discord.model,
        address: this.address,
        metadata,
      })
    },

    submitEntry() {
      this.submittingEntry = true

      this.saveTicket()

      dsn
        .issueTicket(
          this.$root.context.$identity.connection.getSigner(),
          metadata
        )
        .then((result) => this.processingTransaction(result, metadata))
    },

    async processingTransaction(tx, metadata) {
      if (typeof tx.wait === 'function') {
        const receipt = await tx.wait()
        // @dev - add receipt to Logger

        for (let e in receipt.events) {
          if (receipt.events[e].event === 'TicketIssued') {
            fbStoreTicket({
              ticket: receipt.events[e].args.ticketId,
              metadata,
            }).then((result) => {
              this.modal.success = true
            })
          }
        }
      } else {
        // @dev - add err to Logger
        if (typeof tx.error !== 'undefined')
          this.modal.errorMessage = tx.error.message
        else if (
          typeof tx.data !== 'undefined' &&
          typeof tx.data.message !== 'undefined'
        )
          this.modal.errorMessage = tx.data.message.replace(
            'Error: VM Exception while processing transaction: ',
            ''
          )
        else if (typeof tx.message !== 'undefined')
          this.modal.errorMessage = tx.message
        this.modal.error = true
      }
    },

    resetModal() {
      this.modal.enter.state = false
      this.submittingEntry = false
      this.modal.error = false
      this.modal.errorMessage = null
      this.modal.success = false
    },

    completed() {
      this.resetModal()
      this.cancel()
    },

    saveDesign() {
      this.modal.successHeader = 'Success!'
      this.modal.successMessage = 'Thank you for re-submitting your design.'

      this.saveTicket()

      this.modal.enter.state = true
      this.submittingEntry = true
      this.modal.success = true
    },
  },
}
</script>
