<template lang="html">
  <svg
    viewBox="0 0 14 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="icon"
  >
    <path
      d="M3.8612 9.95681C2.2778 8.25441 2.3058 5.58601 3.9508 3.92911C4.6242 3.25081 5.4656 2.84621 6.3406 2.71391L6.2923 1.26001C5.0638 1.40911 3.8759 1.95721 2.9344 2.90571C0.730099 5.12471 0.703499 8.70801 2.8483 10.9774L1.6296 12.2038L5.4866 12.4145L5.4761 8.33071L3.8612 9.95681ZM8.5141 1.58551L8.5246 5.66931L10.1395 4.04391C11.7229 5.74771 11.6949 8.41611 10.0499 10.0716C9.3772 10.7499 8.5351 11.1545 7.6601 11.2868L7.7084 12.74C8.9369 12.5909 10.1248 12.0428 11.067 11.095C13.2706 8.87461 13.2972 5.29131 11.1524 3.02331L12.3711 1.79551L8.5141 1.58551V1.58551Z"
      fill="white"
    />
  </svg>
</template>

<script>
export default {}
</script>
