// --------------------------------------------------------------------------
// STYLES
// --------------------------------------------------------------------------
// Acts as the main scss file and imports most if not all the other modular
// scss files.

$use-base-normalize: false;
$use-base-reset: true;

$use-base-typography: true;

$use-element-base: true;
$use-element-blockquote: true;
$use-element-button: true;
$use-element-forms: true;
$use-element-links: true;
$use-element-lists: true;
$use-element-type: true;

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

@import 'globals/_variables';
@import 'globals/_keyframes';
@import 'globals/_functions';
@import 'globals/_mixins';

// --------------------------------------------------------------------------
// BASE
// --------------------------------------------------------------------------

@import 'base/_media-queries';
@import 'base/_icons';
@import 'base/_input';

@import 'base/_aspect';
@import 'base/_buttons';
@import 'base/_clearfix';
@import 'base/_image';
@import 'base/_lists';
@import 'base/_loading';
@import 'base/_normalize';
@import 'base/_paint';
@import 'base/_pill';
@import 'base/_reset';
@import 'base/_sizing';
@import 'base/_spacing';
@import 'base/_type';
@import 'base/_utils';

// --------------------------------------------------------------------------
// ELEMENTS
// --------------------------------------------------------------------------

@import 'elements/_base';
@import 'elements/_blockquote';
@import 'elements/_button';
@import 'elements/_forms';
@import 'elements/_headings';
@import 'elements/_links';
@import 'elements/_lists';
@import 'elements/_paragraph';
@import 'elements/_type';

// --------------------------------------------------------------------------
// COMPONENTS
// --------------------------------------------------------------------------
@import 'components/_grid';

@import 'components/_accordion';
@import 'components/_builder';
@import 'components/_card';
@import 'components/_drop';
@import 'components/_fitter';
@import 'components/_form';
@import 'components/_hero';
@import 'components/_island';
@import 'components/_level';
@import 'components/_media-element';
@import 'components/_modal';
@import 'components/_navbar';
@import 'components/_notice';
@import 'components/_page';
@import 'components/_palette';
@import 'components/_processing';
@import 'components/_switch';
@import 'components/_tabs';
@import 'components/_tooltip';
@import 'components/_iterate';

.uppercase {
  text-transform: uppercase;
}

.text-input {
  font-family: 'setbackt', 'Press Start 2P', monospace;
  line-height: 0.2em;
  padding: 0.7em;
}

.section-gray-rounded {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  border-radius: 15px;
  margin: 0 5vw;
  padding: 2em 0;
  flex-wrap: wrap;
}

.popup-heading {
  font-family: $FontFamily-copy;
}

.popup-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}

.popup-cans {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em;
  width: 250px;
  background-color: #15a8d4;
  box-shadow: 3px 3px 0 #f06c00, -3px -3px 0 #ffc600;
  color: white;
}

.popup-small-padding {
  text-align: left;
  padding: 0 1em;
}

.swal-container {
  border-radius: 15px !important;
}

.swal-popup-1 {
  width: 40% !important;
  border-radius: 15px !important;
}

.swal-popup-5 {
  width: 60% !important;
  border-radius: 15px !important;
}

.swal-popup-10 {
  width: 80% !important;
  border-radius: 15px !important;
}

.swal-popup {
  border-radius: 15px !important;
}
