.Builder {
  display: flex;
  flex-wrap: wrap;
  background-color: $Colour-offWhite;
}

.Builder-preview {
  position: relative;
  width: 100%;
  background-color: $Colour-white;
  border: 8px solid $Colour-offWhite;

  @include media('<tab') {
    padding-bottom: 100%;
  }

  @include media('>=tab') {
    width: percentage(2/3);
  }

  @include media('>=tab') {
    width: percentage(6/10);
  }

  > canvas {
    cursor: grab;

    @include media('<tab') {
      position: absolute;
      top: 0;
      left: 0;
    }

    &:active {
      cursor: grabbing;
    }
  }
}

.Modal-body .Builder-preview {
  width: 100%;
  min-height: 500px;
}

.Builder-previewLoader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  background: url('~/assets/images/loading-can.png') center no-repeat;
  background-size: 100px auto;
  animation: can-loading-layered 3s linear infinite;
}

.Builder-aside {
  position: relative;
  width: 100%;

  color: $Colour-base;
  background-color: $Colour-pri--wash;

  @include media('>=tab') {
    width: percentage(1/3);
  }

  @include media('>=tab') {
    width: percentage(4/10);
  }
}

.Builder-asideCat {
  position: absolute;
  top: -30px;
  right: $Column-gutter;
  width: 60px;
  text-align: center;
}

.Builder-asideBody {
  padding: double($Column-gutter) $Column-gutter;

  .Builder-asideAcc + & {
    padding-top: $Column-gutter * 1.5;
  }

  + .Builder-asideBody {
    border-top: 2px solid $Colour-pri--washDarken;
  }
}

.Builder-asideAcc {
  padding: ($BSU * 4) $Column-gutter;

  background-color: $Colour-pri--washDarken;

  + .Builder-asideAcc {
    margin-top: 1px;
  }
}

.Builder-acc {
  display: flex;
  align-items: center;

  + .Builder-acc {
    margin-top: double($BSU);
    padding-top: $BSU * 1.5;

    border-top: 2px solid $Colour-pri--wash;
  }

  &.is-disabled {
    color: rgba($Colour-base, 0.6);
    cursor: not-allowed;
  }
}

.Builder-pickerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 9px;
}

.Builder-pickerGroup {
  // flex-grow: 2;
  width: 100%;
}

.Builder-pickerGroupBtn {
  flex-grow: 1;
  padding: $BSU * 1.5;
  text-align: center;

  border: 2px solid $Colour-black;
  background-color: $Colour-white;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba($Colour-accent, 0.25);
    transition: background-color 0.2s;
  }

  + .Builder-pickerGroupBtn {
    margin-left: -2px;
  }

  &.is-active {
    background-color: $Colour-accent;
  }
}