// --------------------------------------------------------------------------
// CARD COMPONENT
// --------------------------------------------------------------------------
//
// Cardy
//

/**
 * DEPENDENCIES
 * - none
 */

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------
@mixin cardIcon() {
  &:before {
    display: inline-block;
    vertical-align: -2px;
    margin-right: 2px;
    font-size: 140%;

    color: $Colour-accent;
  }
}

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.Card {
  display: block;
  position: relative;
  padding: 15px;

  background-color: $Colour-offWhite;
  color: $Colour-base;
  border-radius: 0;

  // &:before,
  // &:after {
  //   content: '';
  //   position: absolute;
  //   z-index: 0;
  // }
  //
  // &:before {
  //   top: -4px;
  //   left: -4px;
  //   right: 0;
  //   bottom: 0;
  //
  //   background-color: $Colour-ter;
  // }
  //
  // &:after {
  //   top: 0;
  //   left: 0;
  //   right: -4px;
  //   bottom: -4px;
  //
  //   background-color: #aaffaa;
  // }
}

.opensea-button {
  text-align: center;
  margin-bottom: 1em !important;
  margin: 2em;
}

.small-padding {
  padding: 1em;
}

.Card-imageSplash {
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: 0;

    background-color: $Colour-pri;
  }

  &:before {
    top: -4px;
    left: -4px;
    right: 0;
    bottom: 0;
  }

  &:after {
    top: 0;
    left: 0;
    right: -4px;
    bottom: -4px;
  }

  .image {
    position: relative;
    z-index: 9;
    width: 100%;
  }
}

.Card--can {
  position: relative;
  padding: 0;

  @include type($FontSize-c6);
  font-family: $FontFamily-copy;

  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: 0;
  }

  &:before {
    top: -4px;
    left: -4px;
    right: 0;
    bottom: 0;

    background-color: $Colour-ter;
  }

  &:after {
    top: 0;
    left: 0;
    right: -4px;
    bottom: -4px;

    background-color: $Colour-accent;
  }
}

// .Card--media {
//   max-width: 32rem;
//
//   .Card-content {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     flex-grow: 2;
//     padding-top: 0 !important;
//   }
// }

// .Card--cta {
//   display: block;
//   text-align: center;
//
//   &:hover {
//     .Card-title {
//       color: $Colour-accent;
//       transition: color 0.2s;
//     }
//   }
//
//   .Card-title .icon {
//     &:before {
//       font-size: 150%;
//       margin-left: halve($BSU);
//       vertical-align: -2px;
//     }
//   }
// }
//
// .Card--pay {
//   &:before,
//   &:after {
//     background-color: #dfdde1;
//   }
//
//   .Card-body {
//     padding: 25px 20px;
//
//     background-color: #4a235a;
//     color: $Colour-white;
//   }
//
//   .typeLink-action {
//     color: $Colour-white;
//   }
// }
//
// .Card-payInfo {
// }
//
// .Card-payInfoItem {
//   display: flex;
//   justify-content: space-between;
// }
//
// .Card-grid {
//   display: flex;
//   flex-wrap: wrap;
//   margin: -($BSU / 2);
//
//   .is-col {
//     padding: halve($BSU);
//   }
//
//   .is-action {
//     cursor: pointer;
//
//     .imageSq {
//       transition: outline 0.1s;
//     }
//
//     &:hover {
//       .Card-meta {
//         color: $Colour-accent;
//       }
//
//       .imageSq {
//         outline: 2px solid $Colour-accent;
//         transition: outline 0.1s;
//       }
//     }
//   }
// }
//
// .Card-grid--pad {
//   .is-col {
//     padding-top: ($BSU);
//     padding-bottom: ($BSU);
//   }
// }
//
.Card-body {
  display: block;
  position: relative;
  height: 100%;
  padding: 15px;
  z-index: 1;
  background-color: $Colour-white;

  @include media('>=tab', '<lap') {
    padding: 12px;
  }

  //   .Card--accActions &,
  //   &.Card-body--actions {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-between;
  //     height: 100%;
  //     width: 100%;
  //   }
  //
  //   .Card--media & {
  //     display: flex;
  //     // align-items: flex-end;
  //     padding: 12px;
  //   }
  //
  //   .Card--cta & {
  //     padding: 30px;
  //   }
  
  .Card--can.is-inactive & {
    background-color: $Colour-offWhite;
  }
}

// .Card-info {
//   margin-top: 15px;
// }
//
// .Card-metaTitle {
//   text-transform: uppercase;
//   margin-bottom: double($BSU);
//
//   // color: $Colour-ter;
// }
//
// .Card-imageLayers {
//   position: relative;
//   display: block;
//   width: 100%;
//   height: 0;
//   padding-bottom: 100%;
//   margin-bottom: 15px;
//
//   background-color: $Colour-base;
//
//   .Card--media & {
//     margin-bottom: 0;
//   }
// }

// .Card-imageWrap {
//   .Card--media & {
//     width: 124px;
//     margin-right: $Column-gutter;
//
//     + div {
//       padding-top: $BSU;
//     }
//   }
// }
//
.Card-imageLayer {
  position: absolute;

  &.is-bottomLeft {
    bottom: 0;
    left: 0;
  }

  &.is-topLeft {
    top: 0;
    left: 0;
  }
}

.Card-image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

// .Card-section {
//   // padding-bottom: double($BSU);
//
//   + .Card-section {
//     padding-top: double($BSU);
//     margin-top: double($BSU);
//
//     border-top: 2px solid $Colour-border;
//   }
//
//   .Card-body--actions & {
//     padding-top: ($BSU * 2.5);
//     padding-bottom: ($BSU * 2.5);
//
//     + .Card-section {
//       // padding-top: ($BSU * 2.5);
//       margin-top: ($BSU * 2.5);
//     }
//   }
// }
//
// .Card-sectionBuy {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   // padding-top: double($BSU);
//   margin-top: double($BSU);
//   margin-bottom: 2px;
//
//   // border-top: 2px solid $Colour-border;
//
//   > * + * {
//     margin-left: ($BSU);
//   }
//
//   &:hover {
//     .Card-actionArrow {
//       color: $Colour-accent;
//       transition: color 0.2s;
//     }
//   }
// }
//
// .Card-actionArrow {
//   @include type(18px);
//
//   width: 28px;
//   line-height: 28px;
//   margin-right: 3px;
//   text-align: center;
//   background-color: $Colour-white;
//   color: $Colour-base;
//   transition: color 0.2s;
//
//   box-shadow: -3px -3px 0 0 $Colour-ter, 3px 3px 0 0 $Colour-sec;
//
//   .icon {
//     display: block;
//   }
//
//   .Card--acc & {
//     box-shadow: -3px -3px 0 0 $Colour-ter, 3px 3px 0 0 $Colour-accent;
//   }
// }
//
// .Card-island {
//   display: flex;
//   align-items: center;
//   text-align: center;
//
//   height: 100%;
//   width: 100%;
//   padding-top: 15px * 2;
//   padding-bottom: 15px * 2;
// }
//
.Card-label,
.Card-labelAction {
  @include type($FontSize-c5);
  display: inline-block;
  padding: 6px ($BSU * 1.5) 4px;
  text-transform: uppercase;
}

.Card-label {
  background-color: $Colour-nope;
  color: $Colour-white;
}

.Card-labelAction {
  background-color: rgba($Colour-white, 0.94);
  color: $Colour-accent;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    color: $Colour-white;
    background-color: rgba($Colour-accent, 1);
    transition: background-color 0.2s, color 0.2s;
  }
}
//
// .Card-labelButton {
//   @include type($FontSize-c3);
//   padding: $BSU ($BSU * 3);
//
//   text-transform: uppercase;
//   background-color: rgba($Colour-accent, 0.94);
//   color: $Colour-white;
//   transition: background-color 0.2s;
//
//   &:hover {
//     color: $Colour-white;
//     background-color: $Colour-accent--darken;
//     transition: background-color 0.2s;
//   }
// }
//
// .Card-cols {
//   display: flex;
//   align-items: flex-start;
//
//   > * + * {
//     margin-left: double($BSU);
//
//     @include media('>=tab') {
//       margin-left: $Column-gutter * 1.5;
//     }
//   }
// }
//

.Card-divider {
  height: 3px;
  margin-top: double($BSU);
  margin-bottom: double($BSU);

  background-color: rgba($Colour-base, 0.14);
}

.Card-divider--xl {
  height: 5px;
  margin-top: double($BSU) + 2px;
  margin-bottom: double($BSU) + 2px;
}

.Card-title {
  @include type($FontSize-h5, 1.5);
  font-family: $FontFamily-copy;
  display: block;
  color: $Colour-base;
  transition: color 0.2s;

  @include media('>=tab', '<lap') {
    @include type($FontSize-h5 - 2px);
  }
  //
  //   .Card-meta + & {
  //     margin-top: 3px;
  //   }
  //
  //   .Card--cta & {
  //     @include type($FontSize-h4, 1.5);
  //   }
  //
  //   .icon {
  //     &:before {
  //       @include type(16px);
  //       display: inline-block;
  //       vertical-align: -2px;
  //       margin-right: 4px;
  //       margin-left: -2px;
  //
  //       color: $Colour-accent;
  //     }
  //
  //     &.is-verified:before {
  //       color: $Colour-verified;
  //     }
  //   }
}

.Card-heading {
  @include type($FontSize-h4, 1.5);
  font-family: $FontFamily-copy;
  display: block;
  color: $Colour-base;
  transition: color 0.2s;

  @include media('>=tab', '<lap') {
    @include type($FontSize-h4 - 2px);
  }
}

.Card-dataItem {
  display: flex;
  justify-content: space-between;
  @include type($FontSize-c4);
  font-family: $FontFamily-copy;

  + .Card-dataItem {
    margin-top: $BSU;
  }
}

.Card-dataItem--l {
  @include type($FontSize-c3);
}

.Card-dataItem--s {
  @include type($FontSize-c5 - 1.5px);

  @include media('>=tab') {
    @include type($FontSize-c5 - 1px);
  }

  @include media('>=lap') {
    @include type($FontSize-c5);
  }
}

.Card-dataItemLine {
  flex-grow: 1;
  margin: 0 4px 4px;
  border-bottom: 2px dotted $Colour-base;

  .Card-dataItem--s & {
    margin-bottom: 2px;
  }
}

.Card-grid {
  display: flex;
  margin-left: -(double($BSU));
  margin-right: -(double($BSU));
}

.Card-col {
  flex-grow: 2;
  padding-left: double($BSU);
  padding-right: double($BSU);
}

//
// .Card-meta {
//   @include type(10px);
//   display: block;
//   color: $Colour-base;
//   letter-spacing: -0.25px;
//
//   .Card-title + & {
//     margin-top: 3px;
//   }
//
//   > .icon {
//     @include cardIcon();
//
//     &.is-verified:before {
//       color: $Colour-verified;
//     }
//   }
//
//   .Card--cta & {
//     @include type(12px);
//   }
// }
//
// .Card-meta--l {
//   @include type($FontSize-c4);
//
//   .Card-meta + & {
//     margin-top: 2px;
//   }
// }
//
// .Card-price {
//   @include type($FontSize-h4);
//   font-family: $FontFamily-copy;
//   color: $Colour-base;
// }
//
// .Card-metaList {
//   display: flex;
//   // flex-wrap: wrap;
//   margin-top: 1px;
//   opacity: 0.86;
//
//   > * {
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     overflow: hidden;
//
//     // &:first-of-type {
//     //   flex-grow: 2;
//     // }
//   }
//
//   > * + * {
//     &:before {
//       content: '•';
//       padding-left: 3px;
//       // padding-right: 3px;
//     }
//   }
//
//   > a {
//     transition: opacity 0.2s;
//
//     &:hover {
//       opacity: 1;
//       transition: opacity 0.2s;
//     }
//   }
// }
//
// .Card-link {
//   color: $Colour-base;
//
//   > .icon {
//     @include cardIcon();
//
//     &.is-verified:before {
//       color: $Colour-verified;
//     }
//   }
// }
//
// .Card-notice {
//   text-align: center;
//   padding: ($BSU * 1.5) double($BSU);
//   background-color: $Colour-mauve;
// }
