// Based on Griddle
// https://github.com/necolas/griddle/blob/master/_griddle.scss

// --------------------------------------------------------------------------
// GRID COMPONENT
// --------------------------------------------------------------------------
//
// The grid is used for layout and structure. It should ideally be used to
// wrap elements rather than alongside elements/components.

/**
 * DEPENDENCIES
 * - none
 */

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

@mixin grid() {
  max-width: $Grid-maxWidth;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  // letter-spacing: -0.31em;
  // text-rendering: optimizespeed;

  .#{$Grid-namespace} {
    margin-left: -($Column-gutter);
    margin-right: -($Column-gutter);

    @include media('>=tab') {
      margin-left: -($Column-gutter * 2);
      margin-right: -($Column-gutter * 2);
    }
  }

  @include media('>=tab') {
    padding-left: $Column-gutter - $BSU;
    padding-right: $Column-gutter - $BSU;
  }

  @include media('>=lap') {
    padding-left: $Column-gutter;
    padding-right: $Column-gutter;
  }
}

@mixin grid-column() {
  display: inline-block;
  width: 100%;
  padding: $Column-gutter;

  @include media('>=tab', '<lap') {
    padding-left: $Column-gutter - $BSU;
    padding-right: $Column-gutter - $BSU;
  }
}

@mixin grid-row() {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: $Column-gutter;

  // letter-spacing: normal;
  // word-spacing: normal;
  // text-rendering: auto;

  @include media('>=tab', '<lap') {
    padding-left: $Column-gutter - $BSU;
    padding-right: $Column-gutter - $BSU;
  }
}

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.#{$Grid-namespace} {
  @include grid();
}

.Grid--slim {
  .Grid-column {
    padding: halve($Column-gutter);
  }
}

.Grid--divider {
  + .Grid--divider {
    position: relative;

    @include media('<tab') {
      &:before {
        content: '';
        display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        border-top: 3px dashed rgba($Colour-mauve, 1);
        margin: $Column-gutter;
      }

      &:after {
        content: '';
        display: block;
        // width: 100%;
        position: absolute;
        top: $Column-gutter + 2px;
        left: double($Column-gutter) + 2px;
        right: double($Column-gutter) - 2px;
        border-top: 3px dashed rgba($Colour-white, 0.4);
      }
    }
  }
}

.Grid--autoHeight {
  align-items: flex-start;
}

.Grid--center {
  justify-content: center;
}

.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em;
}

.#{$Column-namespace} {
  @include grid-column();
}

.#{$Row-namespace} {
  @include grid-row();
}

.Grid-row--fb {
  padding-bottom: 0;
}

.#{$Column-namespace}--middle {
  vertical-align: middle;
}
