// --------------------------------------------------------------------------
// ISLAND COMPONENT
// --------------------------------------------------------------------------
//
// An island can be using instead of grid for layout
//

/**
 * DEPENDENCIES
 * - none
 */

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.Island {
  text-align: center;
  padding: $Column-gutter;

  background-color: $Colour-offWhite;
  color: $Colour-base;

  @include media('>=tab') {
    padding: 24px;
  }

  @include media('>=lap') {
    padding: 32px;
  }
}

.Island-body {
}
