.Iterate {
  display: flex;
}

.Iterate--counter {
}

.Iterate-button {
  height: auto;
  padding: ($BSU * 1) ($BSU * 1.5);

  background-color: $Colour-accent;
  color: $Colour-white;

  &:after {
    content: unset;
  }

  &:hover,
  &:focus {
    transform: translate3d(0, 0, 0);
  }

  + .Iterate-button {
    margin-left: $BSU;
  }
}

.Iterate-count {
  @include type($FontSize-c5, 16px);
  padding: $BSU ($BSU * 2);
  text-align: center;

  background-color: $Colour-white;
  color: $Colour-base;
  border-top: 3px solid $Colour-border;
  border-bottom: 3px solid $Colour-border;
}
