// --------------------------------------------------------------------------
// MEDIA ELEMENT COMPONENT
// --------------------------------------------------------------------------
//
// Media grid

/**
 * DEPENDENCIES
 * - none
 */

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$mediaElement-margin: $Base-spacing-unit * 2 !default;


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.Media,
.Media-body {
	overflow: hidden;
	_overflow: visible;
	zoom: 1;
}

.Media-image,
.Media-imageAlt {
	img {
		display: block;
	}
}

.Media-image,
.Media-imageMiddle {
	margin-right: $mediaElement-margin;
}

.Media-image {
	float: left;
}

.Media-imageAlt,
.Media-imageAltMiddle {
	margin-left: $mediaElement-margin;
}

.Media-imageAlt {
	float: right;
}

.Media-bodyMiddle,
.Media-imageMiddle {
	display: inline-block;
	vertical-align: middle;
}

.Media-imageMiddle img {
	vertical-align: bottom;
}

.Media-bodyMiddle .button--s {
	font-size: 0.75em;
	padding: 8px 12px;
	margin-right: 16px;
}