.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding: $Column-gutter;

  background-color: rgba($Colour-base, 0.6);
}

.Modal-body {
  position: relative;
  max-width: 42rem;
  max-height: 100vh;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  padding: double($Column-gutter) $Column-gutter;

  background-color: $Colour-white;
  color: $Colour-base;
  border: 3px solid $Colour-border;
  box-shadow: 6px 6px 0 $Colour-dropShadow;

  @include media('>=tab') {
    max-height: 76vh;
    padding: ($Column-gutter * 2.5) ($Column-gutter * 1.5)
      ($Column-gutter * 1.5);
    margin-top: $Column-gutter;
  }

  @include media('>=lap') {
    padding: triple($Column-gutter);
    margin-top: double($Column-gutter);
  }
}

.Modal-close {
  @include reset-button();

  position: absolute;
  top: ($BSU);
  right: double($BSU);
  padding: double($BSU);

  color: $Colour-accent;
  transition: color 0.2s;

  &:hover {
    color: $Colour-accent--dark;
    transition: color 0.2s;
  }
}

.Modal-heading {
  @include type($FontSize-h2);
  text-align: center;
}

.Modal-label {
  @include type($FontSize-c3);
  margin-top: ($FontSize-h2);
  text-align: center;
}

.Modal-actions {
  text-align: center;
  margin-top: triple($BSU);
}

//
// Web3 modal
//

#WEB3_CONNECT_MODAL_ID {
  z-index: 9999;
  position: relative;
}

.web3modal-provider-container {
  .web3modal-provider-name {
    @include type(18px);
  }

  .web3modal-provider-description {
    @include type(11px);
    margin-top: $BSU;
  }
}
