.Processing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding: $Column-gutter;
  text-align: center;

  background-color: rgba($Colour-base, 0.6);
}

.Processing-body {

  &.has-confetti {
    min-height: 65vh;
    padding-top: ($Column-gutter * 1.5);
    padding-bottom: ($Column-gutter * 1.5);

    @include media('>=lap') {
      min-height: 50vh;
    }
  }

  &.has-error {
    .icon:before {
      color: $Colour-error;
    }
  }
}

.Processing-title {
  @include type($FontSize-h4, 1.5);
  font-family: $FontFamily-copy;
  display: block;
  color: $Colour-base;
  transition: color 0.2s;

  @include media('>=tab', '<lap') {
    @include type($FontSize-h4 - 2px);
  }

  .has-error & {
    @include type($FontSize-h3, 1.5);

    color: $Colour-error;
  }
}

.Processing-bodyWrap {
  width: 100%;
  text-align: center;
}

.Processing-options {
  @include media('>=lap') {
    width: percentage(2/3);
    margin-left: auto;
    margin-right: auto;
  }
}

.Processing-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
