// --------------------------------------------------------------------------
// STLYING TITLE
// --------------------------------------------------------------------------
// Description of what this styling does and what it is solving
//
// -- Markup --
// <label class="Switch">
//   <input type="checkbox" class="Switch-input">
//   <span class="Switch-button"></span>
// </label>
//
// DEPENDENCIES/EXTENDS
// - none

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------
$switch-width: 44px;
$switch-height: 18px;
$switch-toggle-offset: 4px;

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// EXTENDS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.Switch {
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height + double($switch-toggle-offset);
}

.Switch-input {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .Switch-button {
    background-color: $Colour-accent;

    &:before {
      transform: translateX($switch-height);
    }
  }

  &:focus + .Switch-button {
    box-shadow: 0 0 1px $Colour-accent;
  }
}

.Switch-button {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $Colour-inactive;
  border: 3px solid $Colour-border;
  transition: 0.4s;
}

.Switch-button:before {
  position: absolute;
  content: '';
  height: $switch-height;
  width: $switch-height;
  left: 1px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
}

.Switch-icons {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  display: flex;
  color: $Colour-white;
  pointer-events: none;

  > span {
    display: block;
    width: 50%;
    font-size: 15px;
    line-height: $switch-height - 2px;
    text-align: center;
  }

  .icon {
    font-size: 20px;
    line-height: $switch-height + 2px;
  }

  .icon-checkmark {
    font-size: 12px;
  }
}
