.Tabs-nav {
  display: inline-block;
  background-color: $Colour-white;
  border: 3px solid $Colour-border;
  box-shadow: 8px 8px 0 $Colour-dropShadow;

  ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    padding: halve($BSU);
  }
}

.Tabs-navItem {
  cursor: pointer;

  &:hover a {
    background-color: rgba($Colour-accent, 0.05);
  }

  &.is-active {
    a {
      color: $Colour-white;
      background-color: $Colour-accent;
    }
  }

  a {
    display: block;
    padding: double($BSU) triple($BSU);

    color: $Colour-accent;
    border: 3px solid transparent;
    text-decoration: none;
  }

  + .Tabs-navItem {
    margin-left: halve($BSU);
  }
}

.Tabs-content {
  padding-top: $BSU * 3;
  padding-bottom: $BSU * 3;
}

//
// Tab button - simple inline tab button
//

.Tab-button {
  @include reset-button();
  @include type($FontSize-c1);
  font-family: $FontFamily-mono;
  // padding: 4px $BSU halve($BSU);
  margin-left: ($BSU * 2.5);
  text-transform: none;

  color: $Colour-white;
  border-bottom: 2px solid transparent;
  opacity: 0.7;
  transition: opacity 0.2s;

  &.is-active {
    opacity: 1;
    // color: $Colour-accent;
    // background-color: rgba($Colour-white, 0.14);
    border-bottom-color: $Colour-white;
  }

  &:hover {
    opacity: 1;
    transition: opacity 0.2s;
  }
}
