.Tooltip {
  position: relative;

  &:hover {
    .Tooltip-label {
      display: block;
    }
  }
}

.Tooltip-label {
  @include type($FontSize-c5, 1.4);
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-30%, -20%);
  text-align: center;
  width: 10rem;
  padding: 4px 8px;

  background-color: $Colour-base;
  color: $Colour-white;
  box-shadow: 2px 2px 0 $Colour-ter, -2px -2px 0 $Colour-ter;

  &:hover {
    // display: block;
  }

  a {
    &:hover {
      color: $Colour-accent;
    }
  }
}
