<template lang="html">
  <div class="Modal" v-show="active">
    <div class="Modal-body">
      <button type="button" class="Modal-close" @click="closeModal">X</button>

      <div class="Modal-heading">{{ heading }}</div>

      <div class="Modal-label">{{ label }}</div>

      <div class="Modal-actions">
        <button type="button" class="button--pri" @click="proceed">Yes</button>
        <button type="button" @click="closeModal">No, Abort</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    active: {
      type: Boolean,
      default: false
    },

    heading: {
      type: String,
      default: null
    },

    label: {
      type: String,
      default: null
    }
  },

  methods: {
    proceed() {
      this.$emit('proceed')
    },
    closeModal() {
      this.$emit('close-modal')
    }
  }
}
</script>
