<template lang="html">
  <div
    :class="['Drop Drop--alt', { 'is-active': active }]"
    v-click-outside="hideFilter"
  >
    <button class="Drop-button" @click.stop="toggleFilter('rating')">
      <span v-if="label !== null" class="Drop-label">{{ label }}:&nbsp;</span>
      {{ options[selected].label }}
    </button>

    <div class="Drop-menu">
      <button
        :class="['Drop-menuItem', { 'is-selected': i === selected }]"
        v-for="(opt, i) in options"
        :key="opt.filter"
        @click="updateFilter(i)"
      >
        {{ opt.label }}
      </button>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'

export default {
  directives: {
    ClickOutside,
  },

  props: {
    options: {
      type: Array,
      default: () => [],
    },

    defaultSelected: {
      type: Number,
      default: 0,
    },

    category: {
      type: String,
      default: null,
    },

    label: {
      type: String,
      default: null,
    },
  },

  data() {
    return {
      active: false,
      selected: this.defaultSelected,
    }
  },

  methods: {
    toggleFilter() {
      this.active = !this.active
    },

    hideFilter() {
      this.active = false
    },

    updateFilter(index) {
      this.selected = index
      this.hideFilter()

      this.$emit('dropdown-updated', this.category, this.selected)
    },
  },
}
</script>
