<template lang="html">
  <!-- color picker overlay -->
  <div
    class="PE-picker"
    v-show="state"
    :style="'border-color: rgba(' + palette.active.rgba.toString() + ')'"
    v-click-outside="closePicker"
  >
    <div class="PE-pickerClose">
      <button type="button" class="button--xs" @click.stop="closePicker">
        Close X
      </button>
    </div>

    <div class="" v-if="textureState">
      <div class="mb center">Textures</div>
      <hr class="PE-pickerDivider" />

      <div class="mb+">
        <!-- Gradient selector -->
        <div class="PE-pickerRow">
          <div class="PE-pickerLabel">Gradient</div>

          <div class="PE-pickerGroup flex">
            <div
              v-for="gd in textures.gradientDirection.opts"
              :class="[
                'PE-pickerGroupBtn',
                {
                  'is-active': textures.gradientDirection.selected === gd.value,
                },
              ]"
              @click.stop="pickTexture('gradientDirection', gd.value)"
            >
              {{ gd.label }}
            </div>
          </div>
        </div>
        <!-- .end Gradient selector -->

        <!-- Gradient selector -->
        <div
          class="PE-pickerRow"
          v-show="textures.gradientDirection.selected !== 0"
        >
          <div class="PE-pickerLabel">Gradient Tone</div>

          <div class="PE-pickerGroup flex">
            <div
              v-for="gt in textures.gradientTone.opts"
              :class="[
                'PE-pickerGroupBtn',
                {
                  'is-active': textures.gradientTone.selected === gt.value,
                },
              ]"
              @click.stop="pickTexture('gradientTone', gt.value)"
            >
              {{ gt.label }}
            </div>
          </div>
        </div>
        <!-- .end Gradient selector -->

        <!-- Textture style selector -->
        <div class="PE-pickerRow">
          <div class="PE-pickerLabel">Pattern</div>

          <div class="PE-pickerGroup flex">
            <div
              v-for="p in textures.pattern.opts"
              :class="[
                'PE-pickerGroupBtn',
                {
                  'is-active': textures.pattern.selected === p.value,
                },
              ]"
              @click.stop="pickTexture('pattern', p.value)"
            >
              {{ p.label }}
            </div>
          </div>
        </div>
        <!-- .end Textture style selector -->
      </div>
    </div>

    <div class="" v-if="shadowState">
      <div class="mb center">Text Shadow</div>
      <hr class="PE-pickerDivider" />

      <div class="mb+">
        <!-- Shadow style selector -->
        <div class="PE-pickerRow">
          <div class="PE-pickerLabel">Shadow Color</div>

          <div class="PE-pickerGroup flex">
            <div
              v-for="p in textures.shadow.opts"
              :class="[
                'PE-pickerGroupBtn',
                {
                  'is-active': textures.shadow.selected === p.value,
                },
              ]"
              @click.stop="pickTexture('shadow', p.value)"
            >
              {{ p.label }}
            </div>
          </div>
        </div>
        <!-- .end Shadow style selector -->
      </div>
    </div>

    <div class="mb center">Colors</div>
    <hr class="PE-pickerDivider" />

    <div v-for="(row, index) in palette.picker.options">
      <hr class="PE-pickerDivider" v-if="row.type === 'divider'" />

      <div
        v-if="row.type === 'row'"
        :class="['PE-pickerRow', { 'PE-pickerRowX2': row.length == 7 }]"
      >
        <div class="PE-pickerLabel">{{ row.title }}</div>

        <div class="flex">
          <div
            v-for="(color, index) in row.colors"
            :class="[
              'PE-pickerCell',
              {
                'is-active': color.id === palette.active.id,
              },
            ]"
            @click.stop="changeColor(color)"
          >
            <div
              class="PE-pickerColour"
              :style="'background-color: rgba(' + formatRGBA(color.rgba) + ')'"
              :title="color.title + ' ' + color.rgba"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div
      :class="['PE-preview', gradientClass]"
      v-if="texturePreview"
      :style="'background-color: rgba(' + palette.active.rgba.toString() + ')'"
    >
      <img
        class="PE-previewPattern"
        :src="
          require('~/assets/images/textures/' +
            textures.pattern.opts[textures.pattern.selected].label +
            '.png')
        "
        alt="Pattern"
        v-show="textures.pattern.selected !== 0"
      />
    </div>
  </div>
  <!-- .end color picker overlay -->
</template>

<script>
import { mapGetters } from 'vuex'

import paletteData from '~/assets/data/palette-rows.json'

import Modal from '~/components/elements/modal'
import ClickOutside from 'vue-click-outside'

import libmooncatMixin from '~/mixins/libmooncat'

export default {
  directives: {
    ClickOutside,
  },

  components: {
    'mcb-modal': Modal,
  },

  mixins: [libmooncatMixin],

  props: {
    state: {
      type: Boolean,
      default: false,
    },

    initId: {
      type: Number,
      default: 0,
    },

    textureState: {
      type: Boolean,
      default: false,
    },

    shadowState: {
      type: Boolean,
      default: false,
    },

    paletteType: {
      type: String,
      default: '',
    },

    texturePreview: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      textures: {
        gradientDirection: {
          selected: 0,
          opts: [
            {
              label: 'None',
              value: 0,
            },
            {
              label: 'From top',
              value: 1,
            },
            {
              label: 'From bottom',
              value: 2,
            },
          ],
        },
        gradientTone: {
          selected: 0,
          opts: [
            {
              label: 'Light',
              value: 0,
            },
            {
              label: 'Dark',
              value: 1,
            },
          ],
        },
        pattern: {
          selected: 0,
          opts: [
            {
              label: 'None',
              value: 0,
            },
            {
              label: 'Stars',
              value: 1,
            },
            {
              label: 'Waves',
              value: 2,
            },
            {
              label: 'Circles',
              value: 3,
            },
            {
              label: 'Stripes',
              value: 4,
            },
          ],
        },
        shadow: {
          selected: 0,
          opts: [
            {
              label: 'Light',
              value: 1,
            },
            {
              label: 'Dark',
              value: 0,
            },
          ],
        },
      },

      palette: {
        submitting: false,
        editLevel: 1,
        picker: {
          options: paletteData,
        },
        full: {},
        active: {
          id: this.initId,
          rgba: [0, 0, 0],
        },
        tab: {},
      },
    }
  },

  computed: {
    ...mapGetters({
      catContext: 'identity/catContext',
    }),
    gradientClass() {
      const tone = this.textures.gradientTone.selected ? 'dark' : 'light'
      let styleClass = ''

      if (this.textures.gradientDirection.selected === 1) {
        // from top
        styleClass = 'has-gradientTop--' + tone
      } else if (this.textures.gradientDirection.selected === 2) {
        // from bottom
        styleClass = 'has-gradientBottom--' + tone
      }

      return styleClass
    },
  },

  watch: {
    isLibLoaded: {
      immediate: true,
      handler() {
        this.initPalette()
        this.updateMoonCatPalette()
      },
    },
  },

  mounted() {
    this.initPalette()
    this.updateMoonCatPalette()
  },

  methods: {
    abort() {
      this.$emit('toggle-state', this.paletteType, false)
    },

    closePicker() {
      this.abort()
    },

    changeColor(color) {
      if (color !== this.palette.active) {
        this.palette.active = color
        this.$emit('color-change', color, this.paletteType)
      }
    },

    pickTexture(target, value) {
      this.textures[target].selected = value

      this.$emit(
        'texture-change',
        target,
        value,
        this.textures[target].opts[value].label
      )
    },

    initPalette() {
      this.palette.full = {}
      for (let i in this.palette.picker.options) {
        for (let c in this.palette.picker.options[i].colors) {
          this.palette.full[this.palette.picker.options[i].colors[c].id] =
            this.palette.picker.options[i].colors[c]
          if (this.palette.picker.options[i].colors[c].id === this.initId)
            this.changeColor(this.palette.picker.options[i].colors[c])
        }
      }

      if (
        this.paletteType === 'background' &&
        this.palette.tab !== this.palette.full[116]
      ) {
        this.palette.tab = this.palette.full[116]
        this.$emit('color-change', this.palette.full[116], 'tab')
      }
    },

    updateMoonCatPalette() {
      let palette = this.getMoonCatPalette(this.catContext)

      if (palette !== false) {
        let newPalette = { ...palette }
        delete newPalette[5]
        delete newPalette[7]
        delete newPalette[8]
        delete newPalette[9]
        delete newPalette[11]
        delete newPalette[12]
        delete newPalette[13]
        this.palette.picker.options[8].colors = newPalette
        this.initPalette()
      }
    },

    formatRGBA(arr) {
      let rgba = [...arr]
      rgba[3] = rgba[3] / 255
      return rgba
    },
  },
}
</script>
