<template lang="html">
  <span class="Palettes">
    <div class="Palettes-label">Palette</div>

    <div class="Palettes-opts">
      <div v-for="p in opts">
        <div
          :class="[
            'Palettes-item',
            { 'is-active': selected !== null && p == selected },
          ]"
          @click="updateItem(p)"
        >
          {{ p }}
        </div>
      </div>
    </div>
  </span>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      default: null,
    },
    opts: {
      type: Number,
      default: 1,
    },

    selected: {
      type: Number,
      default: 0,
    },
  },

  data() {
    return {}
  },

  methods: {
    updateItem(item) {
      this.$emit('state-update', { id: this.id, selected: item - 1 })
    },
  },
}
</script>
