<template lang="html">
  <div>
    <mcp-modal :active="active" @close-modal="close">
      <div class="center" v-show="!error.state && !success">
        <div class="imageProcessing middle"></div>
        <div class="copy-l mt+">Processing...</div>
      </div>

      <div class="center" v-show="!error.state && success">
        <img
          :src="require('~/assets/images/loading-can.png')"
          alt="can"
          class="imageCan middle"
        />

        <div class="mt-6">
          <p class="copy-l">{{ successHeader }}</p>
          <p>{{ successMessage }}</p>
        </div>

        <button type="button" class="button--s mt++" @click.stop="completed">
          Close
        </button>
      </div>

      <div class="Processing-body has-error" v-show="error.state">
        <div class="Processing-bodyWrap has-error">
          <div class="center icon icon-scare icon--display"></div>
          <div class="Processing-title mt">Ooops</div>
          <p class="copy-s mt+">It seems that something has gone wrong...</p>
          <p v-if="error.message">{{ error.message }}</p>
          <div class="Processing-options buttonStack mt++">
            <button type="button" class="button--s" @click="close">
              Close
            </button>
          </div>
        </div>
      </div>
    </mcp-modal>
  </div>
</template>

<script>
import Modal from '~/components/elements/modal'

export default {
  components: {
    'mcp-modal': Modal,
  },

  props: {
    active: {
      type: Boolean,
      default: false,
    },
    success: {
      type: Boolean,
      default: false,
    },
    error: {
      type: Object,
      default: {
        state: false,
        message: null,
      },
    },
  },

  data() {
    return {
      successHeader: "Success!",
      successMessage: 'Your cans have been vended into your wallet. Enjoy.',
    }
  },
  methods: {
    reset() {
      this.$emit('reset')
    },

    close() {
      this.reset()
    },

    completed() {
      this.$emit('completed')
      this.reset()
    },
  },
}
</script>
