// BASE ELEMENTS
//
// Some styling for base html elements.
// Elements include html, element and a conditional * catch all box-sizing.
//
// DEPENDENCIES
// - none

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$html-fontSize: 100% !default;

$body-fontSize: $FontSize-base !default;
$body-lineHeight: $LineHeight-base !default;
$body-fontWeight: $FontWeight-normal !default;
$body-fontFamily: $FontFamily-mono !default;
$body-fontColour: $Colour-white !default;
$body-backgroundColour: $Colour-base !default;

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

* {
  box-sizing: $Layout-boxSizing;
}

html {
  font-size: percentage(strip-unit($body-fontSize) / 16);
}

body {
  background-color: $body-backgroundColour;

  font-size: convert-to-em($body-fontSize, 16px);
  line-height: $body-lineHeight;
  font-weight: $body-fontWeight;
  font-family: $body-fontFamily;
  color: $body-fontColour;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
