// --------------------------------------------------------------------------
// PARAGRAPH ELEMENT
// --------------------------------------------------------------------------

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - base/type
 *
 *
 * USED WITH
 * -
 *
 */

// Styleguide 22.1.0.

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

p {
  @include type($FontSize-c2, 1.6);

  h4 + & {
    margin-top: $FontSize-h4;
  }

  + p {
    margin-top: $FontSize-c3;
  }
}
