<template lang="html">
  <div>
    <section v-if="!isConnected">
      <div class="Page-section">
        <div class="Grid">
          <div class="Grid-row s-2/3--lap">
            <h1 class="display center">Can Designer</h1>

            <div class="Island mt-6 Media imageRender">
              <div class="Media-image">
                <video controls autoplay loop width="256" class="vmVideo">
                  <source src="/test30001-0240.mp4" type="video/mp4" />
                </video>
              </div>

              <div class="Media-body left">
                <div class="copy-l">
                  MoonCatPop is a joint project between ponderware and
                  {Brand_Name_Here} which expands the MoonCats universe! 256 NFT
                  Vending Machines will each distribute 100 MoonCatPop Can NFTs,
                  which will star one purrfectly preened MoonCat. Here, you'll
                  select which Acclimated MoonCat you'll want to star on your
                  MoonCatPop Cans, before customizing your can's look, colour,
                  pattern, as well as your MoonCat's accessories and soda
                  flavour name. Not yet in the official wrapper?
                  <a href="https://mooncat.community/acclimator">Acclimate</a>
                  now. Need to dress for success? Visit the Accessories
                  <a href="https://boutique.mooncat.community/">Boutique</a>
                  today!
                </div>
                <button class="button" @click.stop="connect">
                  Get Started
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <mcp-cats
      v-if="isConnected && !showDesigner"
      :tickets="tickets"
      :minted="minted"
      @show-designer="viewDesigner"
    ></mcp-cats>
    <mcp-designer
      v-if="isConnected && showDesigner"
      @show-designer="viewDesigner"
    ></mcp-designer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ownedMixin from '~/mixins/owned'

import Cats from '~/components/sections/cats'
import Designer from '~/components/sections/designer'

import { ticketsCollection } from '~/services/firebase'
import { query, where, getDocs } from 'firebase/firestore'

export default {
  components: {
    'mcp-cats': Cats,
    'mcp-designer': Designer,
  },

  mixins: [ownedMixin],

  data() {
    return {
      showDesigner: false,
      tickets: [],
      minted: {},
    }
  },

  computed: {
    ...mapGetters({
      isConnected: 'identity/isConnected',
      address: 'identity/fullAddress',
      catContext: 'identity/catContext',
      getAccessory: 'accessories/getAccessory',
    }),
  },

  watch: {
    catContext(newVal, oldVal) {
      // if (JSON.stringify(newVal) !== JSON.stringify(oldVal))
      this.preloadAccessories()
    },
    address: {
      immediate: true,
      handler() {
        this.loadTickets()
      },
    },
  },

  created() {},

  methods: {
    connect() {
      this.$nuxt.context.$identity.connect()
    },
    viewDesigner(bool) {
      this.showDesigner = bool
      if (bool === false) this.loadTickets()
    },
    async preloadAccessories() {
      if (
        typeof this.ownedAccessories[this.catContext] !== 'undefined' &&
        this.ownedAccessories[this.catContext].length
      ) {
        for (let i in this.ownedAccessories[this.catContext]) {
          let ownership = this.ownedAccessories[this.catContext][i]
          let accessory = await this.getAccessory(ownership.accessoryId)

          if (typeof accessory === 'object' && !accessory.getFromCache())
            this.$store.dispatch('accessories/addAccessory', accessory)
        }
      }
    },
    async loadTickets() {
      this.tickets = []
      let processedTickets = []
      this.minted = {}

      if (this.address !== null) {
        const q = query(ticketsCollection)
        const querySnapshot = await getDocs(q)

        for (let i in querySnapshot.docs) {
          let doc = querySnapshot.docs[i]
          let data = { ...doc.data() }
          if (typeof data.ticket !== 'undefined') {
            data.ticketId =
              typeof data.ticket === 'object'
                ? parseInt(data.ticket._hex, 16)
                : data.ticket
            processedTickets.push(data)

            if (data.address.toLowerCase() === this.address.toLowerCase())
              this.minted[doc.id] = true
          }
        }

        if (Object.keys(this.minted).length > 0) this.tickets = processedTickets
      }
    },
  },
}
</script>
