// --------------------------------------------------------------------------
// KEYFRAMES
// --------------------------------------------------------------------------

@keyframes rotate {
  from {
    transform: rotate3d(0, 0, 1, 360deg) perspective(200px);
  }
  to {
    transform: rotate3d(0, 0, 1, 0) perspective(200px);
  }
}

@keyframes can-loading-layered {
  0%,
  100% {
    opacity: 0.65;
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 0deg)
      perspective(200px);
  }

  50% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 10deg)
      perspective(200px);
  }
}

@keyframes can-loading {
  0%,
  100% {
    opacity: 0.65;
    transform: rotate3d(0, 0, 1, 0deg) perspective(200px);
  }

  50% {
    opacity: 1;
    transform: rotate3d(0, 0, 1, 10deg) perspective(200px);
  }
}

@keyframes ticket-twist {
  0%,
  100% {
    transform: rotate3d(0, 0, 1, -10deg) perspective(200px);
  }

  50% {
    transform: rotate3d(0, 0, 1, -15deg) perspective(200px);
  }
}
