// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------
// This collection of variables are applicable across a range of style files.

// --------------------------------------------------------------------------
// Colour Variables
// --------------------------------------------------------------------------

$Colour-black: #000 !default;
$Colour-white: #fff !default;
$Colour-offWhite: #dfdce2 !default;
$Colour-mauve: #d1cfd5 !default;

$Colour-base: #000011 !default;
$Colour-baseType: $Colour-base !default;
$Colour-baseType--contrast: $Colour-white;

$Colour-text: #262635 !default;

$Colour-pri: #4a235a !default;
$Colour-pri--wash: #d0cad4 !default;
$Colour-pri--washDarken: #c3b9c8 !default;
$Colour-pri--darken: #021578 !default;

$Colour-sec: #aaffaa !default;
$Colour-sec--darken: #4784cb !default;
$Colour-sec--lighten: #aaffaa !default;

$Colour-ter: #ffc600 !default;

$Colour-accent: #f06c00 !default;
$Colour-accent--darken: #d86100 !default;
$Colour-accent--dark: #c25700 !default;

$Colour-border: #291c38 !default;

$Colour-bg: #1e0e2e !default;
$Colour-dropShadow: rgba(
  $Colour-border,
  0.86
) !default; // was $Colour-black, 0.85

$Colour-nope: #472257 !default;

$Colour-inactive: #999 !default;
$Colour-error: #e2204e !default;
$Colour-verified: #0055ff !default;

// --------------------------------------------------------------------------
// Type Variables
// --------------------------------------------------------------------------
// TODO: Think of and document a better naming structure for type
// Display
// Heading
// Copy

//
// Font
//
@font-face {
  font-family: 'setbackt';
  src: url('./../fonts/setbackt.ttf?sece22');
  // src: url('#./../fonts/#{$icomoon-font-family}.ttf?sece22')
  //     format('truetype'),
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700&display=swap');

//
// Font Families
//

$FontFamily-heading: 'setbackt', 'Press Start 2P', monospace !default;
$FontFamily-copy: 'Press Start 2P', monospace !default;
$FontFamily-mono: 'Roboto Mono', monospace !default;

//
// Font Weights
//

$FontWeight-bold: 700 !default;
$FontWeight-semi: 500 !default;
$FontWeight-normal: 400 !default;

//
// Display Sizing
//

$FontSize-d1: 54px !default;
$LineHeight-d1: 1 !default;

$FontSize-d2: 50px !default;
$LineHeight-d2: 1.15 !default;

$FontSize-d3: 40px !default;
$LineHeight-d3: 1.4 !default;

$FontSize-d4: 28px !default;
$LineHeight-d4: 1.5 !default;

//
// Heading Sizing
//

$FontSize-h1: 38px !default;
$LineHeight-h1: 1.25 !default;

$FontSize-h2: 18px !default;
$LineHeight-h2: 1.4 !default;

$FontSize-h3: 14px !default;
$LineHeight-h3: 1.4 !default;

$FontSize-h4: 12px !default;
$LineHeight-h4: 1.5 !default;

$FontSize-h5: 10px !default;
$LineHeight-h5: 1.5 !default;

//
// Copy Sizing
//

$FontSize-base: 13px !default;
$LineHeight-base: 1.5 !default;

$FontSize-c1: 15px !default;
$LineHeight-c1: $LineHeight-base !default;

$FontSize-c2: $FontSize-base !default;
$FontSize-c3: 11px !default;
$FontSize-c4: 9px !default;
$FontSize-c5: 8px !default;
$FontSize-c6: 7px !default;

$Margin-heading: 0;
$c-typeHeading-marginFirstChild: false;

// --------------------------------------------------------------------------
// Spacing Variables
// --------------------------------------------------------------------------

$Base-spacing-unit: 6px !default;
$BSU: $Base-spacing-unit;

// --------------------------------------------------------------------------
// Breakpoint Variables
// --------------------------------------------------------------------------

$breakpoints: (
  'mob': 320px,
  'xlMob': 560px,
  'tab': 768px,
  'lap': 1024px,
  'desk': 1400px,
);

// --------------------------------------------------------------------------
// Layout Variables
// --------------------------------------------------------------------------

$Layout-boxSizing: border-box;

// --------------------------------------------------------------------------
// Grid VARIABLES
// --------------------------------------------------------------------------

$Grid-namespace: Grid;
$Grid-maxWidth: 1280px;

$Row-namespace: Grid-row;
$Row-margin: 0 auto;

$Column-namespace: Grid-column;
$Column-gutter: 18px;
